state-machines/download-progressed-stories.json
{
  "Comment": "Download Progressed Stories",
  "name": "Download Progressed Stories",
  "version": "1.0",
  "categories": [
    "system"
  ],
  "StartAt": "ExportDirectory",
  "States": {
    "ExportDirectory": {
      "Type": "Task",
      "Resource": "module:getConfiguredRegistryKey",
      "ResourceConfig": {
        "key": "system_releaseNotesExportDirectory"
      },
      "Parameters": {
        "defaultValue": false
      },
      "ResultPath": "$.exportDirectory",
      "Next": "Write"
    },
    "Write": {
      "Type": "Task",
      "Resource": "function:system_writeProgressedStories",
      "Next": "DownloadFile"
    },
    "DownloadFile": {
      "Type": "Task",
      "Resource": "module:runStateMachine",
      "ResourceConfig": {
        "stateMachine": "tymly_downloadFile_1_0"
      },
      "Parameters": {
        "localFileDirectory.$": "$.exportDirectory",
        "localFilePath.$": "$.exportFilename",
        "downloadName.$": "$.exportFilename",
        "deleteAfterDownload": true
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "system_system",
      "allows": [
        "*"
      ]
    }
  ]
}
