state-machines/download-release-notes.json
{
  "Comment": "Tool to download release notes in a PDF file",
  "name": "Download PDF Release Notes",
  "version": "1.0",
  "categories": [
    "system"
  ],
  "StartAt": "ExportDirectory",
  "States": {
    "ExportDirectory": {
      "Type": "Task",
      "Resource": "module:getConfiguredRegistryKey",
      "ResourceConfig": {
        "key": "system_releaseNotesExportDirectory"
      },
      "Parameters": {
        "defaultValue": false
      },
      "ResultPath": "$.exportDirectory",
      "Next": "WriteReleaseNotes"
    },
    "WriteReleaseNotes": {
      "Type": "Task",
      "Resource": "function:system_writeReleaseNotes",
      "Next": "DownloadFile"
    },
    "DownloadFile": {
      "Type": "Task",
      "Resource": "module:runStateMachine",
      "ResourceConfig": {
        "stateMachine": "tymly_downloadFile_1_0"
      },
      "Parameters": {
        "localFileDirectory.$": "$.exportDirectory",
        "localFilePath.$": "$.exportFilename",
        "downloadName.$": "$.exportFilename",
        "deleteAfterDownload": true
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "nfcc_brrAdmin",
      "allows": [
        "*"
      ]
    },
    {
      "roleId": "nfcc_frsDataDownload",
      "allows": [
        "*"
      ]
    }
  ]
}
