state-machines/feedback-view-all.json
{
  "Comment": "View feedback provided by users.",
  "name": "View Feedback",
  "version": "1.0",
  "categories": [
    "system"
  ],
  "instigators": [
    "user"
  ],
  "instigatorGroup": "app",
  "StartAt": "Finding",
  "States": {
    "Finding": {
      "Type": "Task",
      "Resource": "module:finding",
      "ResourceConfig": {
        "modelId": "feedback"
      },
      "ResultPath": "$.feedback",
      "Next": "AddLaunches"
    },
    "AddLaunches": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "feedbackLaunchesAdd"
      },
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "system_feedbackViewAll",
        "dataPath": "$"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "system_businessAnalyst",
      "allows": [
        "*"
      ]
    }
  ]
}
